In [1]:
s=1
e=10
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [2]:
s=1
e=10
for i in range(s,e+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
s=1
e=100
for i in range(e,s,-1):
    print(i,end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2

In [6]:
t=0
for i in [18,69,46,22,33,11,77]:
    print("value position",t,"--->",i)
    t=t+1

value position 0 ---> 18
value position 1 ---> 69
value position 2 ---> 46
value position 3 ---> 22
value position 4 ---> 33
value position 5 ---> 11
value position 6 ---> 77

In [8]:
start=int(input("enter starting range:"))
end=int(input("enter ending range:"))
for i in range(start,end+1):
    print(i,end=" ")

enter starting range:25
enter ending range:67
25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67

In [11]:
start=int(input("enter starting range:"))
end=int(input("enter ending range:"))
for i in range(start,end+1):
    if(i%2==0):
        print(i,end=" ")

enter starting range:20
enter ending range:50
20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [12]:
start=int(input("enter starting range:"))
end=int(input("enter ending range:"))
for i in range(start,end+1):
    if(i%2==1):
        print(i,end=" ")

enter starting range:10
enter ending range:56
11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55

In [16]:
s=int(input())
e=int(input())
n1=5
n2=2
for i in range(s,e+1):
    expre=n1*n2+n2**i
    print(n1,"*",n2,"+",n2,"^",i,"-->",expre)
    print(expre)

1
10
5 * 2 + 2 ^ 1 --> 12
12
5 * 2 + 2 ^ 2 --> 14
14
5 * 2 + 2 ^ 3 --> 18
18
5 * 2 + 2 ^ 4 --> 26
26
5 * 2 + 2 ^ 5 --> 42
42
5 * 2 + 2 ^ 6 --> 74
74
5 * 2 + 2 ^ 7 --> 138
138
5 * 2 + 2 ^ 8 --> 266
266
5 * 2 + 2 ^ 9 --> 522
522
5 * 2 + 2 ^ 10 --> 1034
1034

In [19]:
s=int(input())
e=int(input())
s1=0
for i in range(s,e+1):
    s1=s1+i
print(s1)

1
10
55

In [20]:
n=int(input("enter n value:"))
s1=0
for i in range(1,n+1):
    if n%i==0:
        print(i,end=" ")
        s1=s1+i
        print("\n factors sum=",s1)

enter n value:28
1
 factors sum= 1
2
 factors sum= 3
4
 factors sum= 7
7
 factors sum= 14
14
 factors sum= 28
28
 factors sum= 56

In [22]:
n=int(input("enter n value:"))
count=1
while(n!=1):
    if(n%2==0):
        print(n,"-->",n,"/2-->",end=" ")
        n=n/2
        print(n)
    else:
            print(n,"-->",n,"*3+1-->",end=" ")
            n=n*3+1
            print(n)
            count=count+1
            print("cycle count=",count)

enter n value:25
25 --> 25 *3+1--> 76
cycle count= 2
76 --> 76 /2--> 38.0
38.0 --> 38.0 /2--> 19.0
19.0 --> 19.0 *3+1--> 58.0
cycle count= 3
58.0 --> 58.0 /2--> 29.0
29.0 --> 29.0 *3+1--> 88.0
cycle count= 4
88.0 --> 88.0 /2--> 44.0
44.0 --> 44.0 /2--> 22.0
22.0 --> 22.0 /2--> 11.0
11.0 --> 11.0 *3+1--> 34.0
cycle count= 5
34.0 --> 34.0 /2--> 17.0
17.0 --> 17.0 *3+1--> 52.0
cycle count= 6
52.0 --> 52.0 /2--> 26.0
26.0 --> 26.0 /2--> 13.0
13.0 --> 13.0 *3+1--> 40.0
cycle count= 7
40.0 --> 40.0 /2--> 20.0
20.0 --> 20.0 /2--> 10.0
10.0 --> 10.0 /2--> 5.0
5.0 --> 5.0 *3+1--> 16.0
cycle count= 8
16.0 --> 16.0 /2--> 8.0
8.0 --> 8.0 /2--> 4.0
4.0 --> 4.0 /2--> 2.0
2.0 --> 2.0 /2--> 1.0

In [24]:
t_case=int(input("enter t_case values"))
for i in range(1,t_case+1):
    length=180
    h=int(input("enter h value"))
    w=int(input("enter w value"))
    if(w>length and h>length):
        print("crop it")
    elif(w==length and h==length):
        print("accepted")
    else:
        print("upload another")

enter t_case values3
enter h value180
enter w value340
upload another
enter h value180
enter w value180
accepted
enter h value240
enter w value350
crop it

In [1]:
n=int(input("enter table number:"))
for i in range(1,11):
    print(n,"*",i,"=",(n*i))

enter table number:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [3]:
n=int(input("enter n value:"))
sum1=0
while(n!=0):
    sum1=sum1+(n%10)
    n=n//10
    print(sum1)

enter n value:56
6
11

In [4]:
n=int(input("enter n value:"))
print("last digit=",n%10)
while(n>=10):
    n=n//10
    print("first digit=",n)

enter n value:343566878
last digit= 8
first digit= 34356687
first digit= 3435668
first digit= 343566
first digit= 34356
first digit= 3435
first digit= 343
first digit= 34
first digit= 3

In [6]:
t_case=int(input("enter t_case:"))
for i in range(t_case):
    n=int(input("enter n value:"))
    temp=n
    count=0
    sum1=0
    i=10
    while(n!=0):
        count=count+1
        n=n//10
    if count==10:
        while(temp!=0):
                r=temp%10
                sum1=sum1+(r*i)
                i=i-1
                temp=temp//10
        if(sum1%11==0):  
                print("legal ISBN")
        else:
                print("illegal ISBN")
    else:
        print("illegal ISBN")

enter t_case:3
enter n value:1456
illegal ISBN
enter n value:1401601499
legal ISBN
enter n value:234567892334
illegal ISBN

In [9]:
s=int(input())
e=int(input())
t=10
for i in range(s,e+1):
    n1=i+1
    n2=i+2
    expre=(n1+n2)+(n1**n2)*(t)
    print(expre,end=" ")
    t=t-1

1
10
85 736 8201 109386 1679629 28824020 536870929 10460353222 200000000021 3138428376744

In [10]:
n1=int(input())
n2=int(input())
for i in range(n1,n2+1):
    if(i%4==0 or((i%100!=0) and (i%400==0))):
        print(i,end=" ")

200
500
200 204 208 212 216 220 224 228 232 236 240 244 248 252 256 260 264 268 272 276 280 284 288 292 296 300 304 308 312 316 320 324 328 332 336 340 344 348 352 356 360 364 368 372 376 380 384 388 392 396 400 404 408 412 416 420 424 428 432 436 440 444 448 452 456 460 464 468 472 476 480 484 488 492 496 500

In [11]:
t_case=int(input("enter t_case"))
for i in range(t_case):
    n=int(input("enter table number:"))
    for i in range(1,11):
        print(n,"*",i,"=",(n*i))

enter t_case4
enter table number:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
enter table number:4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
enter table number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
enter table number:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [16]:
n1=int(input("enter table number:"))
n2=int(input("enter table number:"))
for i in range(1,11):
    for j in range(n1,n2):    
        print(i,"*",j,"=",(j*i))

enter table number:2
enter table number:4
1 * 2 = 2
1 * 3 = 3
2 * 2 = 4
2 * 3 = 6
3 * 2 = 6
3 * 3 = 9
4 * 2 = 8
4 * 3 = 12
5 * 2 = 10
5 * 3 = 15
6 * 2 = 12
6 * 3 = 18
7 * 2 = 14
7 * 3 = 21
8 * 2 = 16
8 * 3 = 24
9 * 2 = 18
9 * 3 = 27
10 * 2 = 20
10 * 3 = 30